<div class="jumbotron">
<h3>Jrello<h3>

<h4>Jrello<h4>
	
<p4> We live to copy the world and create scalable technologies off that which we learn. Life is to short not to enjoy it right?</p4>


	
<%= link_to "Contact Me","#", class: "btn btn-primary btn-lg" %>
</div>