<div class="jumbotron">

	
<h3><i class='fa fa-circle-o-notch'></i> Jrello<h3>

<p1>We live to copy the world and create scalable technologies off that which we learn.</p1>

	
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>