<div class="jumbotron">
<h3>Mona Fetterolf<h3>

<h4>Profile<h4>

<p2>Passionate about positions that constantly require me to innovate and create. Committed to the pursuit of knowledge, simplistic design, lead by example, and to spread creativity to all aspects of my job. Strengths are in project management, creative thinking, networking, and interpersonal savvy.</p2>

<h4>Experience<h4>

<h4><i>Freelance Designer, Manassas, va — 2005 - Present</i><h4>

<p3>Responsible for design posters, digital displays, fliers, websites, brochures, advertisements, and animation. Networking with multiple projects and obtaining new clientele and fulfilling tight deadlines.</p3>

<h4>Projects:<h4>
	
<h4><i>ADAMS Center; January 2014 - December 2014</i><h4>


<h4><i>LiveGreen Magazine, Centreville, VA (2010-2011)</i><h4>
	

<h4><i>Habitat for Humanity, Fairfax, VA (2008-2010)</i><h4>




	
<%= link_to "Contact Me","#", class: "btn btn-primary btn-lg" %>
</div>